*.csv filter=lfs diff=lfs merge=lfs -text
if filter=lfs diff=lfs merge=lfs -text
you filter=lfs diff=lfs merge=lfs -text
intend filter=lfs diff=lfs merge=lfs -text
add filter=lfs diff=lfs merge=lfs -text
in filter=lfs diff=lfs merge=lfs -text
future filter=lfs diff=lfs merge=lfs -text
*.gpkg filter=lfs diff=lfs merge=lfs -text
REMINDER: filter=lfs diff=lfs merge=lfs -text
to filter=lfs diff=lfs merge=lfs -text
.gpkg filter=lfs diff=lfs merge=lfs -text
the filter=lfs diff=lfs merge=lfs -text
only filter=lfs diff=lfs merge=lfs -text
